<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="LeanScale_KeyValue::top_level" title="Keyvalue" module="LeanScale_KeyValue" sortOrder="9999" resource="Magento_Backend::content" parent="Magento_Backend::content" action="leanscale/keyvalue/index"/>
	</menu>
</config>
